@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Laboratory Work #6</h2>
    <h3>Performed by student of group IPZ-31, Oleg Plema</h3>
    <h4>Variant 22</h4>
    <p>To access the functionality, please register and log in</p>
</div>
